@layer utilities {
    .text-center {
        text-align: center;
    }

    .flex {
        display: flex;
    }

    .flex.--center {
        justify-content: center;
    }

    .flex.--between {
        justify-content: space-between;
    }

    .flex.--vcenter {
        align-items: center;
    }

    .list-reset {
        margin: 0;
        padding: 0;
    }

    .list-reset li {
        list-style-type: none;
    }
}